 <% current_user.appointments.each do |appointment| %>
 <div class="col-sm-6">
  <div class="feature boxed boxed--border">
    <h5><%= appointment.date_time.to_formatted_s(:short) %></h5>
    <ul>
      <li class="li">Length: <%= appointment.length %></li>
      <li class="li">Total price: <%= appointment.total_price %></li>
      <li class="li">Status:  <%= appointment.status %></li>
      <%= link_to "Cancel Appointment", cancel_appointment_path(appointment), method: :patch %>
    </ul>
  </div>
</div>
<% end %>

<% current_user.received_appointments.each do |appointment| %>
<div class="col-sm-6">
  <div class="feature boxed boxed--border">
    <h5><%= appointment.date_time.to_formatted_s(:short) %></h5>
    <ul>
      <li class="li">Length: <%= appointment.length %></li>
      <li class="li">Total price: <%= appointment.total_price %></li>
      <li class="li">Status:  <%= appointment.status %></li>
      <% unless appointment.status == "confirmed" || appointment.status == "denied" %>
      <%= link_to "Confirm", confirm_appointment_path(appointment), method: :patch %> |
      <%= link_to "Deny", deny_appointment_path(appointment), method: :patch %>
      <% end %>
      <% unless appointment.status == "cancelled" || appointment.status == "denied" %> |
      <%= link_to "Cancel", cancel_appointment_path(appointment), method: :patch %>
      <% end %>
    </ul>
  </div>
</div>
<% end %>


