

<div class="container">
<div class="section"><h3>Appointments</h3></div>
<% current_user.appointments.each do |appointment| %>
    <div class="section">
      <p>Date and time:  <%= appointment.date_time %></p>
      <p>Length: <%= appointment.length %></p>
      <p>Total price: <%= appointment.total_price %></p>
      <p>Status:  <%= appointment.status %></p>
    </div>
<% end %>

<% current_user.received_appointments.each do |appointment| %>
    <div class="section">
      <p>Date and time:  <%= appointment.date_time %></p>
      <p>Length: <%= appointment.length %></p>
      <p>Total price: <%= appointment.total_price %></p>
      <p>Status:  <%= appointment.status %></p>
    </div>
<% end %>

</div>
