<%= f.input :title, required:true, autofocus: true %>
<%= f.input :description, required: true, autofocus: true %>
<%= f.input :hour_price, required: true, autofocus: true %>

<%=  f.simple_fields_for :category do |y| %>
  <%= y.input :category, collection: Category.all, required: true, autofocus: true %>
<% end %>

<%= f.association :subcategory, collection: Subcategory.all %>
<div class="btn btn-primary new_subcategory">Add new subcategory</div>
<%= f.input :subcategory, required: true, autofocus: true,  wrapper_html: { class: 'sub hidden' }%>
<%= f.input :level, required: true, autofocus: true %>
<%= f.input :photo, as: :attachinary %>
