<section class="bg--secondary space--sm">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="boxed boxed--lg boxed--border">
          <div class="text-block text-center">
            <% if current_user.photo? %>
            <%= cl_image_tag current_user.photo.path, width: 1200, crop: :fill, class: "border--round" %>
            <% end %>
            <span class="h2"><%= "#{current_user.first_name} #{current_user.last_name}" %></span>
            <a href="#" data-toggle="modal" data-target="#update">Update Profile</a>
          </div>
          <div class="text-block clearfix text-center">
            <ul class="row row--list">
              <li class="col-sm-4">
                <span class="type--fine-print block">Address:</span>
                <%= "#{current_user.address}, #{current_user.city} #{current_user.zipcode}" %>
              </li>
              <li class="col-sm-4">
                <span class="type--fine-print block">Phone Number:</span>
                <span><%= current_user.phone %></span>
              </li>
              <li class="col-sm-4">
                <span class="type--fine-print block">Email:</span>
                <a href="#"><%= current_user.email %></a>
              </li>
            </ul>
          </div>
          <div class="text-block clearfix text-center">
            <ul class="row row--list">
              <li class="col-sm-4">
                <span class="type--fine-print block">Language:</span>
                <%= current_user.languages %>
              </li>
              <li class="col-sm-4">
                <span class="type--fine-print block">Birthdate:</span>
                <span><%= current_user.birthdate %></span>
              </li>
              <li class="col-sm-4">
                <span class="type--fine-print block">Company Name:</span>
                <span><%= current_user.company_name%></span>
              </li>
            </ul>
          </div>
          <div class="text-block clearfix text-center">
            <ul class="row row--list">
              <li class="col-sm-12">
                <span class="type--fine-print block">Bio:</span>
                <%= current_user.bio %>
              </li>
            </ul>
          </div>
        </div>
        <div class="boxed boxed--border">
          <div class="text-block clearfix">
            <div class="col-sm-12">
              <div class="heading-block">
                <h4>Appointments</h4>
              </div>
            </div>
            <!-- appointments (show) -->
            <%= render 'appointments' %>
          </div>
        </div>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<div class="modal" id="update">
  <%= link_to "Edit or remove account", edit_user_registration_path, class: "btn btn-primary" %>
  <%= simple_form_for(current_user, url: profile_path, method: :patch) do |f| %>
  <div class="form-inputs">
    <%= render "profile_form", f: f %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
  <% end %>
</div>
