
      <div class="modal" id="update">
        <%= link_to "Edit or remove account", edit_user_registration_path, class: "btn btn-primary" %>
        <%= simple_form_for(current_user, url: profile_path, method: :patch) do |f| %>
        <div class="form-inputs">
          <%= render "profile_form", f: f %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Sign up" %>
        </div>
        <% end %>
      </div>


  <section class="switchable feature-large ">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-8">
          <div class="switchable__text">
            <h2><%= "#{current_user.first_name} #{current_user.last_name}" %></h2>
            <p class="lead">
              <%= current_user.birthdate %>
            </p>
            <p class="lead">
              <%= current_user.languages %>
            </p>
            <p class="lead">
              <%= current_user.address %>
            </p>
            <p class="lead">
              <%= "#{current_user.city} #{current_user.zipcode}" %>
            </p>
            <p class="lead">
              <%= current_user.phone %>
            </p>
            <p class="lead">
              <%= current_user.email %>
            </p>

              <!-- info only for teachers -->
              <%= current_user.company_name%>
              <%= current_user.bio %>
            </p>
            <a href="#" data-toggle="modal" data-target="#update">Update Profile</a>
          </div>
        </div>
        <div class="col-sm-4">
          <% if current_user.photo? %>
          <%= cl_image_tag current_user.photo.path, width: 400, crop: :fill, class: "border--round box-shadow-wide" %>
          <% end %>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
