  <div class="row">

    <div class="col-xs-12 col-sm-6">
      <%= current_user.name %>
      <%= current_user.address %>
      <%= current_user.phone %>
      <%= current_user.email %>
      <%= link_to, "Update profile", edit_profile_path %>
    </div>

    <div class="col-xs-12 col-sm-6">
      picture
    </div>

  </div>
