  <div class="row">

    <div class="col-xs-12 col-sm-6">
      <%= "#{current_user.first_name} #{current_user.last_name}" %>
      <%= current_user.birthdate %>
      <%= current_user.languages %>
      <%= current_user.address %>
      <%= "#{current_user.city} #{current_user.zipcode}" %>
      <%= current_user.phone %>
      <%= current_user.email %>

      <!-- info only for teachers -->
      <%= current_user.company_name%>
      <%= current_user.bio %>

      <button data-toggle="modal" data-target="#update">Update profile</button>

      <div class="modal" id="update">
        <p>test</p>
        <%= simple_form_for(current_user, url: profile_path, method: :patch) do |f| %>
        <div class="form-inputs">
          <%= f.input :first_name, required: true, autofocus: true %>
          <%= f.input :last_name, required: true, autofocus: true %>
          <%= f.input :email, required: true, autofocus: true %>
          <%= f.input :phone, required: true, autofocus: true %>
          <%= f.input :birthdate, required: true, autofocus: true %>
          <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          <%= f.input :password_confirmation, required: true %>
          <%= f.input :photo, as: :attachinary %>
          <%= f.input_field :teacher, inline_label: true, label: false, as: :boolean, class: "teacher-toggle" %>
          <%= f.input :bio, wrapper_html: { class: 'teacher hidden' } %>
          <%= f.input :languages, wrapper_html: { class: 'teacher hidden' } %>
          <%= f.input :company_name, wrapper_html: { class: 'teacher hidden' } %>

          <%= f.input :address, wrapper_html: { class: 'teacher hidden' } %>
          <%= f.input :zipcode, wrapper_html: { class: 'teacher hidden' } %>
          <%= f.input :city, wrapper_html: { class: 'teacher hidden' } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Sign up" %>
        </div>
        <% end %>
      </div>

    </div>

    <div class="col-xs-12 col-sm-6">
      <% if current_user.photo? %>
      <%= cl_image_tag current_user.photo.path, width: 200, height: 300, crop: :fill %>
      <% end %>
    </div>

  </div>
