<% title "Sensei - Reset Password" %>
<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
<%= f.error_notification %>
<section class="height-100 text-center">
  <div class="container pos-vertical-center">
    <div class="row">
      <div class="col-sm-7 col-md-5">
        <h2>Recover your account</h2>
        <p class="lead">
          Enter email address to send a recovery email.
        </p>
        <form>
          <%= f.input :email, label: false, placeholder: "Email", required: true, autofocus: true %>
          <%= f.button :submit, "Recover Account", class: "btn btn--primary type--uppercase"%>
        </form>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</section>
<% end %>
