<% @lessons.each do |lesson| %>
<div class="col-xs-12 col-md-6 col-lg-4 masonry__item">
  <div class="card card-2 text-center mb--1">
    <div class="card__top">
      <a href="#">
        <% if lesson.photo %>
        <%= cl_image_tag lesson.photo.path %>
        <% elsif lesson.user.photo %>
        <%= cl_image_tag lesson.user.photo.path, width: 360, height: 220, crop: :thumb, gravity: :face %>
        <% end %>
      </a>
    </div>
    <div class="card__body">
      <span class="h4"><%= lesson.title %></span>
      <%= link_to lesson_path(lesson) do %>
      <button class="btn btn--primary type--uppercase" type="submit">Learn More</button>
      <% end %>
    </div>
    <div class="card__bottom text-center">
      <div class="card__action">
        <span class="type--fade">Name</span>
        <span class="h5"><%= "#{lesson.user.first_name} #{lesson.user.last_name}" %></span>
      </div>
      <div class="card__action">
        <span class="type--fade">Category</span>
        <span class="h5"><%= "#{lesson.subcategory.category.name}" %></span>
      </div>
      <div class="card__action">
        <span class="type--fade">Pice</span>
        <span class="h5">$<%= lesson.hour_price %>/hour</span>
      </div>
      <div class="card__action">
        <span class="type--fade">Level</span>
        <span class="h5"><%= lesson.level %></span>
      </div>
    </div>
  </div>
</div>
<% end %>
