
<section class="bg--secondary space--sm">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="boxed boxed--lg boxed--border">
          <div class="text-block text-center">
            <span class="h2"><%= @lesson.title %></span>
            <% if @lesson.photo? %>
              <%= cl_image_tag @lesson.photo.path, width: 600, crop: :fill %>
            <% elsif @lesson.user.photo? %>
            <%= cl_image_tag @lesson.user.photo.path, width: 600, crop: :fill %>
            <% else %>
            <%= image_tag "placeholder.jpg", class: "border--round", width: 900, crop: :fill %>
            <% end %>
          </div>
          <div class="text-block clearfix text-center">
            <ul class="row row--list">
              <li class="col-sm-4">
                <span class="type--fine-print block">Name:</span>
                <span class="h4"><%= "#{@lesson.user.first_name} #{@lesson.user.last_name}"%></span>
              </li>
              <li class="col-sm-4">
                <span class="type--fine-print block">Price:</span>
                <span class="h4">$<%= @lesson.hour_price %>/hour</span>
              </li>
              <li class="col-sm-4">
                <span class="type--fine-print block">Level:</span>
                <span class="h4"><%= @lesson.level %></span>
              </li>
            </ul>
          </div>
          <div class="text-block clearfix text-center">
            <ul class="row row--list">
              <li class="col-sm-4">
                <span class="type--fine-print block">Languages spoken:</span>
                <span class="h4"><%= @lesson.user.languages %></span>
              </li>
              <li class="col-sm-4">
                <span class="type--fine-print block">Company Name:</span>
                <span class="h4"><%= @lesson.user.company_name %></span>
              </li>

              <li class="col-sm-4">
                <span class="type--fine-print block">Address:</span>
                <span class="h4"><%= @lesson.user.address %></span>
                <p class="type--italic type--fine-print">
                  <%= "#{@lesson.user.city} #{@lesson.user.zipcode}" %>
                </p>
              </li>
            </ul>
          </div>
          <div class="text-block clearfix text-center">
            <ul class="row row--list">
              <li class="col-sm-12">
                <span class="type--fine-print block">Description:</span>
                <%= @lesson.description %>
              </li>
            </ul>
          </div>
          <div class="text-block clearfix text-center">
            <ul class="row row--list">
              <li class="col-sm-12">
                <span class="type--fine-print block">Bio:</span>
                <%= @lesson.user.bio %>
              </li>
            </ul>
          </div>
          <button class="btn btn--primary type--uppercase" type="submit" data-toggle="modal" data-target="#book">Book a lesson!</button>
        </div>
         <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=15&size=400x300&sensor=false&maptype=roadmap&markers=color:red|#{@lesson.address}" %>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

<div class="modal fade container col-xs-12 col-sm-6 col-sm-offset-3" id="book">
  <section>
  <%= simple_form_for([@lesson, @appointment]) do |f| %>
  <div class="form-inputs">

         <div class="row">
            <div class="col-sm-4">
              <%= f.input :length, collection: [20, 30, 45, 60, 90], selected: 20, required:true, autofocus: true, label_html: { class: "form_label_white" } %>
              </div>
            <div class="col-sm-8">
                <%= f.input :date_time, label: "Date and time", required:true, autofocus: true, label_html: { class: "form_label_white"} %>
            </div>

  </div>

  <div class="form-actions">
    <%= f.button :submit, "Reserve!", class: "btn--primary type--uppercase" %>
  </div>
  <% end %>
</div>
  </section>
</div>




